@import url("./fonts.css");
@import url("./rest.css");
@import url("./grid.css");

:root {
    --app-color: #fff;
    --text-color: #000;
    --primary-color: #E7FAFE;
    --secondary-color: #FF7426;
    --text-color-opacity-60: rgba(0, 0, 0, 60%);
}

/*
    + Grid System +
*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*
    + Components +
*/
.app-btn {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background-color: #000;
    width: 18rem;
    height: 5rem;
    font-size: 1.4rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.app-btn:hover {
    letter-spacing: .08rem;
    font-size: 1.42rem;
}

/*
    + App Style +
*/
body {
    line-height: 1.6;
    font-size: 1.6rem;
    color: var(--text-color);
    font-family: "Inter SemiBold";
}

a {
    text-decoration: none;
}

/*
    + Header +
*/
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: var(--app-color);
    border-bottom: .1rem solid rgba(0, 0, 0, 10%);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
}

.app-title {
    font-size: 2.4rem;
    font-family: "Lobster";
    color: var(--text-color);
}

.app-title__dot {
    color: var(--secondary-color);
}

.menu {
    gap: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 200ms ease-in-out;
}

.menu__link {
    font-family: "Inter Medium";
    color: var(--text-color);
    transition: all 200ms ease-in-out;
}

.menu__link:hover {
    letter-spacing: .1rem;
    color: var(--secondary-color);
}

.social {
    height: 2.4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social__icon:hover {
    fill: rgba(255, 116, 38, 40%);
}

.menu-toggle {
    display: none;
}

/*
    + Main +
*/
.main {
    padding-top: 18rem;
}

/*
    - Banner -
*/
.banner {
    display: flex;
    width: 100%;
    height: 65rem;
    overflow: hidden;
    border-radius: 3rem;
    margin-bottom: 15rem;
}

.banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    padding: 6rem;
    background-color: var(--primary-color);
}

.banner-tag {
    display: flex;
    width: 15.6rem;
    height: 4.5rem;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
}

.banner-tag__img {
    margin-right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
}

.banner__title {
    font-size: 6.4rem;
    line-height: 1.2;
    margin: 2.3rem 0;
}

.banner__caption {
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
    margin-bottom: 2.4rem;
}

.timer-fork {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.timer-banner,
.fork-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7rem 1.7rem;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 5%);
}

.timer-banner__icon,
.fork-banner__icon {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 1rem;
}

.timer-banner__text,
.fork-banner__text {
    font-family: "Inter Medium";
    font-size: 1.4rem;
    color: var(--text-color-opacity-60);
}

.banner__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.avatar__img {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.avatar__name {
    font-family: "Inter Bold";
}

.avatar__date {
    font-family: "inter Medium";
    font-size: 1.4rem;
    color: var(--text-color-opacity-60);
}


.banner-btn {
    background-color: #000;
}

.banner-btn__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 1rem;
}

.image-banner {
    flex-basis: 50%;
    height: 100%;
    background: url("../images/header-image.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}

/*
    - Categories -
*/
.categories {
    margin-bottom: 15rem;
}

.categories-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.categories__title {
    font-size: 4.8rem;
}

.categories__link {
    border-radius: 1.5rem;
    color: var(--text-color);
    background-color: var(--primary-color);
}

.categories-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background: linear-gradient(rgba(112, 130, 70, 0%), rgba(112, 130, 70, 10%));
    padding: 2rem 0;
    border-radius: 3rem;
}

.categories-content__img {
    width: 10rem;
    height: 10rem;
}

.categories-content__text {
    font-size: 1.8rem;
}

/* Background-Gradients */
.vegan-background {
    background: linear-gradient(rgba(108, 198, 63, 0%), rgba(108, 198, 63, 10%));
}

.meat-background {
    background: linear-gradient(rgba(204, 38, 27, 0%), rgba(204, 38, 27, 10%));
}

.dessert-background {
    background: linear-gradient(rgba(240, 158, 0, 0%), rgba(240, 158, 0, 10%));
}

.simple-background {
    background: linear-gradient(rgba(0, 0, 0, 0%), rgba(0, 0, 0, 5%));
}

/*
    - Simple Recipes -
*/
.recipes {
    margin-bottom: 15rem;
}

.recipes__head {
    text-align: center;
}

.recipes__title {
    font-size: 4.8rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.recipes__caption {
    max-width: 63rem;
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
    margin: 2rem auto 6rem auto;
}

.recipes-content {
    padding: 2.5rem 2rem;
    border-radius: 3rem;
    position: relative;
    background: linear-gradient(rgba(231, 249, 253, 0%), rgba(231, 249, 253, 100%));
}

.recipes-content__img {
    width: 100%;
    height: 24rem;
    border-radius: 1.5rem;
}

.recipes-like {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    top: 4rem;
    right: 4rem;
    cursor: pointer;
}

.recipes-like__icon--liked path {
    fill: #ff0000;
}

.recipes-content__title {
    font-size: 2.4rem;
    margin: 2rem auto 3rem auto;
}

.recipes-tips {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.recipes-tips-timer,
.recipes-tips-fork {
    display: flex;
    align-items: center;
}

.recipes-tips-timer__icon,
.recipes-tips-fork__icon {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 0.8rem;
}

.recipes-tips-timer__text,
.recipes-tips-fork__text {
    font-size: 1.4rem;
    color: var(--text-color-opacity-60);
}

.recelies-content__ad {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border-radius: 1.5rem;
}

/*
    - Chef Info - 
*/
.chef-info {
    margin-bottom: 15rem;
}

.chef-info__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    overflow: hidden;
}

.chef-info__content {
    flex-basis: 50%;
}

.chef-info__title {
    line-height: 1.2;
    font-size: 4.8rem;
}

.chef-info__caption {
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
    margin: 3rem 0 8rem 0;
    max-width: 44rem;
}

.chef-info__image {
    flex-basis: 50%;
    background: url("../images/chef-image.png") no-repeat;
    background-size: contain;
    height: 59.7rem;
}

/*
    - Social Media -
*/

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7rem 0;
    margin-bottom: 15rem;
}

.social-media__head {
    max-width: 82rem;
    text-align: center;
    margin-bottom: 8rem;
}

.social-media__title {
    font-size: 4.8rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.social-media__caption {
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
}

.social-media__content {
    border-radius: 1.5rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2rem var(--primary-color);
}

.social-media__image {
    width: 100%;
    height: 100%;
}

.social-media__btn {
    margin-top: 4rem;
}

.social-media-btn__text {
    margin-right: 0.5rem;
}

/*
    - Delicious Recipe -
*/
.delicious-recipe {
    margin-bottom: 15rem;
}

.delicious-recipe-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
}

.delicious-recipe-head__title {
    font-size: 4.8rem;
    max-width: 57rem;
    line-height: 1.2;
}

.delicious-recipe-head__caption {
    font-family: "Inter Regular";
    max-width: 60rem;
    color: var(--text-color-opacity-60);
}

.delicious-recipe__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 1.5rem;
    padding: 1.5rem 1rem;
    box-shadow: 0 0 2rem var(--primary-color);
    height: 35.2rem;

}

.delicious-recipe__head {
    display: flex;
    flex-direction: column;
}

.delicious-recipe__head>.recipes-like {
    top: 2.5rem;
    right: 2.5rem;
}

.delicious-recipe__img {
    width: 100%;
    border-radius: 1.5rem;
}

.delicious-recipe__title {
    font-size: 1.8rem;
    margin: 2rem 0 2.5rem 0;
}

.tips-wrapper {
    display: flex;
    gap: 2rem;
}

.d-timer {
    display: flex;
    align-items: center;
}

.d-fork {
    display: flex;
    align-items: center;
}


/*
    - Inbox -
*/
.inbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 3rem;
    margin-bottom: 15rem;
    padding: 9rem 0;
    z-index: 10;
    background-color: var(--primary-color);
}

.inbox__title {
    font-size: 4.8rem;
    text-align: center;
}

.inbox__caption {
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
    max-width: 60rem;
    margin: 1.5rem auto 6rem auto;
    text-align: center;
}

.inbox-form {
    position: relative;
    width: 100%;
    max-width: 44rem;
}

.inbox-form__input {
    border: none;
    outline: none;
    padding: 2.5rem 13rem 2.5rem 3rem;
    border-radius: 1.5rem;
    width: 100%;
}

.inbox-form__input::placeholder {
    font-family: "Inter Medium";
    font-size: 1.4rem;
}

.inbox-form__button {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    margin: auto;
    width: 11.5rem;
    height: 4.4rem;
}

.inbox__img {
    position: absolute;
    z-index: -1;
}

.inbox__img-1 {
    bottom: 0;
    left: 0;
    width: 37rem;
}

.inbox__img-2 {
    bottom: -2rem;
    right: -3rem;
    width: 40rem;
    height: 26rem;
}

/*
    + Footer +
*/
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
    border-bottom: .1rem solid rgba(0, 0, 0, 10%);
}

.footer-content__wrapper,
.footer-content__second {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-content-title {
    font-size: 2.4rem;
    font-family: "Lobster";
    color: var(--text-color);
}

.footer-content-title__dot {
    color: var(--secondary-color);
}

.footer-content__caption {
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
}

.footer-social {
    height: 2.4rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.footer-social__icon:hover {
    fill: rgba(255, 116, 38, 40%);
}

.footer-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.footer-menu__link {
    font-family: "Inter Medium";
    color: var(--text-color);
    font-size: 1.5rem;
    transition: all 200ms ease-in-out;
}

.footer-menu__link:hover {
    letter-spacing: .1rem;
    color: var(--secondary-color);
}

.footer-copyright {
    font-size: 1.8rem;
    color: var(--text-color-opacity-60);
    font-family: "EudoxusSans-Medium";
    text-align: center;
    margin: 3rem auto;
}

.footer-copyright__orange {
    color: var(--secondary-color);
}


/*
    + Recipes Page +
*/
.recipe-info {
    margin-bottom: 15rem;
}

.recipe-info-head {
    margin-bottom: 4rem;
}

.recipe-info-head__title {
    font-size: 6.4rem;
    margin-bottom: 4rem;
}

.recipe-info-head__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-recipe {
    display: flex;
    align-items: center;
}

.about-recipe .avatar {
    padding-right: 4rem;
}

.preptime__werapper,
.cooktime__werapper,
.chicken__wrapper {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    height: 4.5rem;
    gap: 1rem;
    border-left: .1rem solid rgba(0, 0, 0, 10%);
}

.about-recipe__subject,
.about-recipe__time {
    font-family: "Inter Medium";
    font-size: 1.2rem;
}

.about-recipe__time {
    color: var(--text-color-opacity-60);
}

.head-btns {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.head-btns-print,
.head-btns-share {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.head-btns-print:hover .head-btns__text,
.head-btns-share:hover .head-btns__text {
    letter-spacing: .1rem;
    color: var(--secondary-color);

}

.head-btns__btn {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--primary-color);
}

.head-btns-print:hover .head-btns__btn,
.head-btns-share:hover .head-btns__btn {
    box-shadow: 0 0 1rem rgba(255, 116, 38, 50%);
}

.head-btns__text {
    font-family: "Inter Medium";
    font-size: 1.2rem;
    transition: all 200ms ease-in-out;
}

/*
    - Content Recipe -
*/
.recipe-info-content {
    margin-bottom: 4rem;
}

.recipe-info-content__img {
    border-radius: 3rem;
    width: 100%;
}

.recipe-info-content__details {
    height: 100%;
    padding: 3rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.recipe-info-content__title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.recipe-info-resource {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    font-family: "Inter Medium";
    border-bottom: .1rem solid rgba(0, 0, 0, 10%);
    color: var(--text-color-opacity-60);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.recipe-info-resource__unit {
    color: var(--text-color);
}

.recipe-info-content__caption {
    text-align: center;
    font-family: "Inter Regular";
    margin: 0 auto;
    max-width: 34rem;
    color: var(--text-color-opacity-60);
}

.recipe-info__caption {
    text-align: center;
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
}


/*
    - ingredients section -
*/
.ingredient {
    margin-bottom: 15rem;
}

.ingredient__title {
    font-size: 3.6rem;
    margin-bottom: 3rem;
}

.ingredient-menu {
    padding: 5rem;
}

.ingredient-menu__item {
    font-family: "Inter regular";
    font-size: 1.8rem;
    padding: 2.5rem;
    position: relative;
    border-bottom: .1rem solid rgba(0, 0, 0, 10%);
}

.ingredient-menu__item::before {
    content: ' ';
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: -1.5rem;
    margin: auto 0;
    border: 0.2rem solid #DBE2E5;
    background-color: transparent;
}

.ingredient-menu__item--active::before {
    background-color: #000;
    border: 0.2rem solid #000;
}

.ingredient-menu__icon {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.9rem;
    margin: auto 0;
}

.other-recipe-content {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;

}

.other-recipe-content__img {
    width: 18rem;
    height: 12rem;
    border-radius: 1.5rem;
}

.other-recipe-content__info {
    width: 50%;
}

.other-recipe-content__title {
    font-size: 2rem;
    max-width: 20rem;
    margin-bottom: 1.2rem;
}

.other-recipe-content__subject {
    font-family: "Inter Medium";
    font-size: 1.4rem;
    color: var(--text-color-opacity-60);
}

.sauce__title {
    font-size: 2.4rem;
}

.sauce__img {
    width: 100%;
    border-radius: 1.5rem;
}

/*
    - Directions section -
*/
.directions {
    margin-bottom: 15rem;
}

.directions__title {
    font-size: 3.6rem;
    margin-bottom: 3rem;
}

.directions-content {
    padding-left: 4.5rem;
}

.directions-content__subject {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    position: relative;
}

.directions-content__subject::before {
    content: ' ';
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: -4.5rem;
    margin: auto 0;
    border: 0.2rem solid #DBE2E5;
    background-color: transparent;
}

.directions-content__caption {
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
    margin-bottom: 7rem;
}

.directions-content__img {
    width: 100%;
    margin-bottom: 3.6rem;
    border-radius: 1.5rem;
}

/*
    - Other Like Recipes -
*/
.other-like-recipes {
    margin-bottom: 15rem;
}

.other-like-recipes__title {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 4rem;
}

/*
    + Blog Page +
*/
.blog-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
}

.blog-head__title {
    font-size: 6.4rem;
}

.blog-head__caption {
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
    margin: 1rem auto 5rem auto;
    text-align: center;
}

.search-box {
    width: 100%;
    max-width: 60rem;
    position: relative;
}

.search-box__input {
    padding: 2.7rem 15rem 2.7rem 3.2rem;
    width: 100%;
    border-radius: 2.5rem;
    outline: none;
    border: 0.1rem solid rgba(0, 0, 0, 10%);
    font-family: "Inter Medium";
}

.search-box__input::placeholder {
    color: rgba(0, 0, 0, 40%);
}

.search-box__input,
.search-box__btn {
    font-size: 1.4rem;
    font-family: "Inter Medium";
}

.search-box__btn {
    position: absolute;
    z-index: 10;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    width: 13rem;
    margin: auto;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 1.5rem;
}

/*
    - Blog Article -
*/
.blog-content {
    margin-bottom: 15rem;
    display: flex;
    gap: 1.5rem;
}

.blog-article {
    display: flex;
    flex-wrap: wrap;
    width: 68%;
    gap: 3rem;
}

.blog-article__content {
    display: flex;
    align-items: center;
    height: 20rem;
    gap: 3rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 10%);
}

.blog-article__img {
    height: 20rem;
    border-radius: 1.5rem;
}

.blog-article__wrapper {
    display: flex;
    flex-direction: column;
}

.blog-article__title {
    font-size: 2.4rem;
}

.blog-article__caption {
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
    margin: 1.5rem 0 3rem 0;
    width: 100%;
    max-width: 57rem;
}

.article-info,
.article-info__content {
    display: flex;
    align-items: center;
}

.article-info__avatar {
    width: 4rem;
    height: 4rem;
}

.article-info__name,
.article-info__date {
    padding: 0 2rem;
}

.article-info__name {
    font-family: "Inter Bold";
    border-right: 0.1rem solid rgba(0, 0, 0, 8%);
}

.article-info__date {
    font-family: "Inter Medium";
    font-size: 1.4rem;
    color: var(--text-color-opacity-60);
}

/*
    - Blog Tasty -
*/
.blog-tasty {
    width: 32%;
    margin-bottom: 6rem;
}

.blog-tasty__tilte {
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.tasty-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}

.tasty-content {
    padding: 1rem 0;
    display: flex;
    gap: 2rem;
    border-radius: 1.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 10%);
}

.tasty-content__image {
    max-height: 12rem;
    height: 100%;
    border-radius: 1.5rem;
}

.tasty-content__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.tasty-content__title {
    font-size: 2rem;
}

.tasty-content__subject {
    font-family: "Inter Medium";
    font-size: 1.4rem;
    color: var(--text-color-opacity-60);
}

.blog-tasty__ads {
    width: 100%;
    border-radius: 1.5rem;
    margin-top: 6rem;
}