@import url("./fonts.css");
@import url("./rest.css");
@import url("./grid.css");

:root {
    --app-color: #fff;
    --text-color: #000;
    --primary-color: #E7FAFE;
    --secondary-color: #FF7426;
    --text-color-opacity-60: rgba(0, 0, 0, 60%);
}

/*
    + Grid System +
*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*
    + Components +
*/
.app-btn {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    width: 18rem;
    height: 5rem;
    font-size: 1.4rem;
    transition: all 200ms ease-in-out;
}
.app-btn:hover {
    letter-spacing: .08rem;
    font-size: 1.42rem;
}

/*
    + App Style +
*/
body {
    line-height: 1.6;
    font-size: 1.6rem;
    color: var(--text-color);
    font-family: "Inter SemiBold";
}

a {
    text-decoration: none;
}

/*
    + Header +
*/
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: var(--app-color);
    border-bottom: .1rem solid rgba(0, 0, 0, 10%);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
}

.app-title {
    font-size: 2.4rem;
    font-family: "Lobster";
    color: var(--text-color);
}

.app-title__dot {
    color: var(--secondary-color);
}

.menu {
    gap: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 200ms ease-in-out;
}

.menu__link {
    font-family: "Inter Medium";
    color: var(--text-color);
    transition: all 200ms ease-in-out;
}

.menu__link:hover {
    letter-spacing: .1rem;
    color: var(--secondary-color);
}

.social {
    height: 2.4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social__icon:hover {
    fill: rgba(0, 0, 0, 20%);
}

.menu-toggle {
    display: none;
}

/*
    + Main +
*/
.main {
    padding-top: 18rem;
}

/*
    - Banner -
*/
.banner {
    display: flex;
    width: 100%;
    height: 65rem;
    overflow: hidden;
    border-radius: 3rem;
    margin-bottom: 15rem;
}

.banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    padding: 6rem;
    background-color: var(--primary-color);
}

.banner-tag {
    display: flex;
    width: 15.6rem;
    height: 4.5rem;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
}

.banner-tag__img {
    margin-right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
}

.banner__title {
    font-size: 6.4rem;
    line-height: 1.2;
    margin: 2.3rem 0;
}

.banner__caption {
    font-family: "Inter Regular";
    color: var(--text-color-opacity-60);
    margin-bottom: 2.4rem;
}

.timer-fork {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.timer-banner,
.fork-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7rem 1.7rem;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 5%);
}

.timer-banner__icon,
.fork-banner__icon {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 1rem;
}

.timer-banner__text,
.fork-banner__text {
    font-family: "Inter Medium";
    font-size: 1.4rem;
    color: var(--text-color-opacity-60);
}

.banner__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.avatar__img {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.avatar__name {
    font-family: "Inter Bold";
}

.avatar__date {
    font-family: "inter Medium";
    font-size: 1.4rem;
    color: var(--text-color-opacity-60);
}


.banner-btn {
    background-color: #000;
}

.banner-btn__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 1rem;
}

.image-banner {
    flex-basis: 50%;
    height: 100%;
    background: url("../images/header-image.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}

/*
    - Categories -
*/
.categories {
    margin-bottom: 15rem;
}

.categories-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.categories__title {
    font-size: 4.8rem;
}

.categories__link {
    border-radius: 1.5rem;
    color: #000;
    background-color: var(--primary-color);
}

.categories-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background: linear-gradient(rgba(112, 130, 70, 0%), rgba(112, 130, 70, 10%));
    padding: 2rem 0;
    border-radius: 3rem;
}

.categories-content__img {
    width: 10rem;
    height: 10rem;
}

.categories-content__text {
    font-size: 1.8rem;
}

/* Background-Gradients */
.vegan-background {
    background: linear-gradient(rgba(108, 198, 63, 0%), rgba(108, 198, 63, 10%));
}

.meat-background {
    background: linear-gradient(rgba(204, 38, 27, 0%), rgba(204, 38, 27, 10%));
}

.dessert-background {
    background: linear-gradient(rgba(240, 158, 0, 0%), rgba(240, 158, 0, 10%));
}

.simple-background {
    background: linear-gradient(rgba(0, 0, 0, 0%), rgba(0, 0, 0, 5%));
}