@media (max-width: 1400px) {
    .banner__title {
        font-size: 6rem;
    }
}

@media (max-width: 1200px) {
    .menu {
        gap: 3.3rem;
    }

    .social {
        gap: 1.3rem;
    }

    .banner-tag {
        font-size: 1.4rem;
        width: 15rem;
        height: 4rem;
    }

    .banner-wrapper {
        padding: 4rem;
    }

    .banner-tag__img {
        width: 2.1rem;
        height: 2.1rem;
    }

    .banner__title {
        font-size: 5rem;
    }

    .banner-btn {
        
    }

    .banner-btn__text {
        font-size: 1.4rem;
    }

    .avatar {
        gap: 0.7rem;
    }
    
}

@media (max-width: 992px) {
    .social {
        display: none;
    }

    .banner {
        height: 80rem;
        flex-direction: column-reverse;
    }

    .image-banner {
        background-position: center;
    }

    .banner-tag {
        display: none;
    }

    .categories__title {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {

    /* * {
        cursor: default !important;
    } */
    .navbar {
        position: relative;
        height: 8rem;
    }

    .menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 0;
        flex-direction: column;
        background-color: var(--app-color);
        gap: 2.5rem;
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    .menu--open {
        height: 30rem;
    }

    .social__link {
        display: none;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }

    .menu-toggle__line {
        position: relative;
        width: 3.5rem;
        height: .3rem;
        border-radius: 2rem;
        background-color: var(--secondary-color);
        transition: all 150ms ease-in-out;
    }

    .menu-toggle__line::before,
    .menu-toggle__line::after {
        content: '';
        position: absolute;
        width: 3.5rem;
        height: .3rem;
        border-radius: 2rem;
        background-color: var(--secondary-color);
        transition: all 200ms ease-in-out;
    }

    .menu-toggle__line::before {
        top: -0.8rem;
    }

    .menu-toggle__line::after {
        top: 0.8rem;
    }

    .menu-toggle--open .menu-toggle__line {
        background-color: transparent;
    }

    .menu-toggle--open .menu-toggle__line::before {
        transform: translateY(.8rem) rotate(45deg);
    }

    .menu-toggle--open .menu-toggle__line::after {
        transform: translateY(-.8rem) rotate(-45deg);
    }

    .cover {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(231, 250, 254, 80%);
        opacity: 0;
        z-index: -1;
        transition: all 120ms ease-in-out;
    }

    .cover--show {
        opacity: 1;
        z-index: 99;
    }

    .main {
        padding-top: 15rem;
    }

    .banner-wrapper {
        padding: 2.5rem;
    }

    .content-wrapper {
        text-align: center;
    }

    .timer-fork {
        justify-content: center;
        margin-bottom: 5rem;
    }
}

@media (max-width: 576px) {
    .menu__link {
        font-size: 1.4rem;
    }
    
    .categories-head{
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media (max-width: 450px) {
    .banner__title {
        font-size: 3.4rem;
    }

    .banner__caption {
        font-size: 1.5rem;
    }

    .timer-banner,
    .fork-banner {
        padding: .6rem 1.4rem;
    }

    .timer-banner__icon,
    .fork-banner__icon {
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
    }

    .timer-banner__text,
    .fork-banner__text {
        font-size: 1.2rem;
    }

    .banner__info {
        flex-direction: column;
        gap: 1.5rem;
    }

    .avatar {
        gap: 2rem;
    }

    .banner-btn {
        width: 100%;
    }

    .categories__link {
        width: 100%;
    }
}